	<div id="colOne">
		<p>
			<a href="http://stackoverflow.com/users/244355/goggin13">
				<img src="http://stackoverflow.com/users/flair/244355.png" 
						 width="208" 
						 height="58" 
						 alt="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
						 title="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
		</p>
		<p>
			<a href='http://www.facebook.com/profile.php?id=32701378'>
				<img src="../assets/images/facebook.jpeg" style="">
			</a>
		</p>
		<p>
			<a href='http://www.linkedin.com/profile/view?id=56436623'>
				<img src="../assets/images/linkedin.png" style="	">
			</a>
		</p>
		<p>
			<a href='https://github.com/goggin13'>
				<img src="../assets/images/github.png" style="">
			</a>
		</p>		
	</div>
	<div id="colTwo">
		<h3>Sed Etiam</h3>
		<p>Vestibulum pellentesque. Morbi sit amet magna ac lacus dapibus mauris sed elit venenatis porttitor. Morbi sit amet lorem ipsum dolor sit amet veroeros consequat blandit sed nullam. Blandit consequat etiam dolor.</p>
		<h3>Nulla Maecenas</h3>
		<ul>
			<li class="first"><a href="#">Fusce in turpis vitae</a></li>
			<li><a href="#">Nulla rutrum adipiscing urna</a></li>
			<li><a href="#">Maecenas at tellus duis</a></li>
			<li><a href="#">Pellentesque massa fermentum</a></li>
			<li><a href="#">Diam blandit imperdiet sed</a></li>
			<li><a href="#">Posuere vulputate magna</a></li>
			<li><a href="#">Proin placerat nisl ut mollis</a></li>
			<li><a href="#">Consequat cursus diam</a></li>
			<li><a href="#">Metus vel dolor fusce ut nulla</a></li>
		</ul>
	</div>