
<h2>moar goggin on da interwebz</h2>

<div class="contact_link">
	<a target='_blank' href="http://stackoverflow.com/users/244355/goggin13">
		<img src="http://stackoverflow.com/users/flair/244355.png" 
				 width="208" 
				 height="58" 
				 alt="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
				 title="profile for goggin13 at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
</div>

<div class="contact_link">
  <a target='_blank' href='http://www.linkedin.com/profile/view?id=56436623'>
    <img src="../assets/images/linkedin.png" />
  </a>
</div>

<div class="contact_link">		    
  <a target='_blank' href='https://github.com/goggin13'>
    <img src="../assets/images/github.png" />
  </a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='http://www.facebook.com/profile.php?id=32701378'>
		<img src="../assets/images/facebook.png" />
	</a>
</div>

<div class="contact_link">	      
	<a target='_blank' target='_blank' href='http://projecteuler.net'>
		<img src="http://projecteuler.net/profile/goggin13.png" />
	</a>
</div>

<div class="contact_link">	      
	<a target='_blank' href='mailto:goggin13@gmail.com?Subject=Hello World'>
		<img src="../assets/images/gmail.png" />
	</a>
</div>    

