	<div id="colOne">
		<h2>interesting things I've worked on</h2>
		
		  <form action='/pages/projects' method='POST'>
			  <input type='text' name="new_project" value="" />
			  <input type='submit' value="new project" />
		  </form>
		<ul>
			:project_html:
		</ul>
	</div>
	<div id="colTwo">
		<h3>Sed Etiam</h3>
		<p>Vestibulum pellentesque. Morbi sit amet magna ac lacus dapibus mauris sed elit venenatis porttitor. Morbi sit amet lorem ipsum dolor sit amet veroeros consequat blandit sed nullam. Blandit consequat etiam dolor.</p>
		<h3>Nulla Maecenas</h3>
		<ul>
			<li class="first"><a href="#">Fusce in turpis vitae</a></li>
			<li><a href="#">Nulla rutrum adipiscing urna</a></li>
			<li><a href="#">Maecenas at tellus duis</a></li>
			<li><a href="#">Pellentesque massa fermentum</a></li>
			<li><a href="#">Diam blandit imperdiet sed</a></li>
			<li><a href="#">Posuere vulputate magna</a></li>
			<li><a href="#">Proin placerat nisl ut mollis</a></li>
			<li><a href="#">Consequat cursus diam</a></li>
			<li><a href="#">Metus vel dolor fusce ut nulla</a></li>
		</ul>
	</div>