	<div id="colOne">
		<h2>New York City Triathlon</h2>
		<img src="../assets/images/triathlon.png" class="" /><br/>
		<h4>Weekly training hours by period</h4>
		<ul>
			<li>Prep: 10 - 11 - 12</li>
			<li>Base 1: 12 - 14.5 - 16 - 8.5</li>
			<li>Base 2: 12.5 - 15 - 17 - 8.5</li>
			<li>Base 3: 13.5 - 16 - 18 - 18 - 8.5</li>
			<li>Build 1: 15.5 - 15.5 - 15.5 - 8.5</li>
			<li>Build 2: 14.5 - 14.5 - 14.5 - 14.5 - 8.5</li>
			<li>Peak: 13 - 10</li>
			<li>Race: 8.5</li>
		</ul>
		:if logged_in:
			<hr/>
			<h4>New Workout</h4>
			<form action='/pages/triathlon' method='POST'>
				<label for='date'>Date</label>
				<input type='text' name="date" value="" /><br/>
				
				<input type="radio" name="type" value="Run" checked='checked'>Run
				<input type="radio" name="type" value="Bike">Bike
				<input type="radio" name="type" value="Swim">Swim<br/>
				
				<label for='workout'>Workout</label>
				<input type="text" name="workout" /><br/>
				
				<label for='time'>Time</label>
				<input type="text" name="time" /><br/>
								
				<br/>
				<label for='weights'>Weights</label>
				<input type="radio" name="weights" value="no" checked='checked'>No
				<input type="radio" name="weights" value="yes">Yes<br/>
				
				<input type='submit' name="new_workout" value="Create Workout" />
			</form>
			<hr/>
		:endif:
		
		:workout_html:
	</div>
