<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>:title: | :section:</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../assets/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
<link href="../assets/default.css" rel="stylesheet" type="text/css" />
<link rel="SHORTCUT ICON" href="../assets/images/favicon.png"/>
</head>
<body>
<div id="wrapper">
  :if logged_in:
    <div id='login_indicator'>
      <form method="POST" action='/'>
				<input type="hidden" name="_method" value="DELETE" />
				<input type="image" src="../assets/images/logout.png" alt="logout">
			</form>
    </div>
  :endif:
	<div id="header">
		:if !logged_in:	
		  <div id='show_login' class='toggle_next'>-=></div>
			<form id='login_form' class='toggle_item' method="POST" action='/'>
				<input type="text" name="username" /><br/>
				<input type="password" name="password" /><br/>
				<input type="submit" name="submit" value="Login" />			
			</form>		
		:endif:
		:if has_message:
			<div id='message'>
			  :message:
			</div>		
		:endif:
		<ul>
			:links:
		</ul>
	</div>
</div>
<div id="content">
	
